{% for post in site.posts %}
{% endfor %}

{% for post in site.posts %}
{% endfor %}

  	<div class="pagination">
    <a class="cusInnerPage" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    <span class="cusInnerPage">&laquo; Prev</span>

      <em class="cusInnerPage">{{ page }}</em>
      <a class="cusInnerPage" href="/">{{ page }}</a>
      <a class="cusInnerPage" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>

    <a class="cusInnerPage" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    <span class="cusInnerPage" >Next &raquo;</span>
</div>
