<link href="{{ site.url }}/assets/css/about.css" rel="stylesheet">

<div class="member-area">
  <div class="member-image">
  <img class="profile-image" src="{{ site.url }}/assets/profile_maven.png"  alt="slayer@appknot.com" />
  </div>
  <div class="member-info">
    <div class="short-info">
      <span class="name"><a href="mailto:slayer@appknot.com">Maven Lim</a></span>
      <span class="sns"><a class="sns-icon facebook-icon" href="https://facebook.com/"></a> </span>
    </div>
    <div class="long-info description">
      메이븐입니다.
    </div>
  </div>
</div>
